<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.apple.emoji</string>
	<key>emojis</key>
	<array>
		<dict>
			<key>cht</key>
			<string>/::)</string>
			<key>gif</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::~</string>
			<key>gif</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::B</string>
			<key>gif</key>
			<string>2</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::|</string>
			<key>gif</key>
			<string>3</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:8-)</string>
			<key>gif</key>
			<string>4</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::&lt;</string>
			<key>gif</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::$</string>
			<key>gif</key>
			<string>6</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::X</string>
			<key>gif</key>
			<string>7</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::Z</string>
			<key>gif</key>
			<string>8</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::&apos;(</string>
			<key>gif</key>
			<string>9</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::-|</string>
			<key>gif</key>
			<string>10</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::@</string>
			<key>gif</key>
			<string>11</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::P</string>
			<key>gif</key>
			<string>12</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::D</string>
			<key>gif</key>
			<string>13</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::O</string>
			<key>gif</key>
			<string>14</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::(</string>
			<key>gif</key>
			<string>15</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::+</string>
			<key>gif</key>
			<string>16</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:--b</string>
			<key>gif</key>
			<string>17</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::Q</string>
			<key>gif</key>
			<string>18</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::T</string>
			<key>gif</key>
			<string>19</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@P</string>
			<key>gif</key>
			<string>20</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@-D</string>
			<key>gif</key>
			<string>21</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::d</string>
			<key>gif</key>
			<string>22</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@o</string>
			<key>gif</key>
			<string>23</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::g</string>
			<key>gif</key>
			<string>24</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:|-)</string>
			<key>gif</key>
			<string>25</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::!</string>
			<key>gif</key>
			<string>26</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::L</string>
			<key>gif</key>
			<string>27</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::&gt;</string>
			<key>gif</key>
			<string>28</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::,@</string>
			<key>gif</key>
			<string>29</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@f</string>
			<key>gif</key>
			<string>30</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::-S</string>
			<key>gif</key>
			<string>31</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:?</string>
			<key>gif</key>
			<string>32</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@x</string>
			<key>gif</key>
			<string>33</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@@</string>
			<key>gif</key>
			<string>34</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::8</string>
			<key>gif</key>
			<string>35</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:,@!</string>
			<key>gif</key>
			<string>36</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:!!!</string>
			<key>gif</key>
			<string>37</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:xx</string>
			<key>gif</key>
			<string>38</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:bye</string>
			<key>gif</key>
			<string>39</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:wipe</string>
			<key>gif</key>
			<string>40</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:dig</string>
			<key>gif</key>
			<string>41</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:handclap</string>
			<key>gif</key>
			<string>42</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:&amp;-(</string>
			<key>gif</key>
			<string>43</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:B-)</string>
			<key>gif</key>
			<string>44</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:&lt;@</string>
			<key>gif</key>
			<string>45</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:@&gt;</string>
			<key>gif</key>
			<string>46</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::-O</string>
			<key>gif</key>
			<string>47</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:&gt;-|</string>
			<key>gif</key>
			<string>48</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:P-(</string>
			<key>gif</key>
			<string>49</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::&apos;|</string>
			<key>gif</key>
			<string>50</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:X-)</string>
			<key>gif</key>
			<string>51</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/::*</string>
			<key>gif</key>
			<string>52</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:@x</string>
			<key>gif</key>
			<string>53</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:8*</string>
			<key>gif</key>
			<string>54</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:pd</string>
			<key>gif</key>
			<string>55</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:&lt;W&gt;</string>
			<key>gif</key>
			<string>56</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:beer</string>
			<key>gif</key>
			<string>57</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:basketb</string>
			<key>gif</key>
			<string>58</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:oo</string>
			<key>gif</key>
			<string>59</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:coffee</string>
			<key>gif</key>
			<string>60</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:eat</string>
			<key>gif</key>
			<string>61</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:pig</string>
			<key>gif</key>
			<string>62</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:rose</string>
			<key>gif</key>
			<string>63</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:fade</string>
			<key>gif</key>
			<string>64</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:showlove</string>
			<key>gif</key>
			<string>65</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:heart</string>
			<key>gif</key>
			<string>66</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:break</string>
			<key>gif</key>
			<string>67</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:cake</string>
			<key>gif</key>
			<string>68</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:li</string>
			<key>gif</key>
			<string>69</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:bome</string>
			<key>gif</key>
			<string>70</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:kn</string>
			<key>gif</key>
			<string>71</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:footb</string>
			<key>gif</key>
			<string>72</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:ladybug</string>
			<key>gif</key>
			<string>73</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:shit</string>
			<key>gif</key>
			<string>74</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:moon</string>
			<key>gif</key>
			<string>75</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:sun</string>
			<key>gif</key>
			<string>76</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:gift</string>
			<key>gif</key>
			<string>77</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:hug</string>
			<key>gif</key>
			<string>78</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:strong</string>
			<key>gif</key>
			<string>79</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:weak</string>
			<key>gif</key>
			<string>80</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:share</string>
			<key>gif</key>
			<string>81</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:v</string>
			<key>gif</key>
			<string>82</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:@)</string>
			<key>gif</key>
			<string>83</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:jj</string>
			<key>gif</key>
			<string>84</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:@@</string>
			<key>gif</key>
			<string>85</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:bad</string>
			<key>gif</key>
			<string>86</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:lvu</string>
			<key>gif</key>
			<string>87</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:no</string>
			<key>gif</key>
			<string>88</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:ok</string>
			<key>gif</key>
			<string>89</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:love</string>
			<key>gif</key>
			<string>90</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:&lt;L&gt;</string>
			<key>gif</key>
			<string>91</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:jump</string>
			<key>gif</key>
			<string>92</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:shake</string>
			<key>gif</key>
			<string>93</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:&lt;O&gt;</string>
			<key>gif</key>
			<string>94</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:circle</string>
			<key>gif</key>
			<string>95</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:kotow</string>
			<key>gif</key>
			<string>96</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:turn</string>
			<key>gif</key>
			<string>97</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:skip</string>
			<key>gif</key>
			<string>98</string>
		</dict>
		<dict>
			<key>cht</key>
			<string>/:oY</string>
			<key>gif</key>
			<string>99</string>
		</dict>
	</array>
</dict>
</plist>
